<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>选择变量表达式</title>
</head>
<body>

    <h3>标准变量表达式: ${key}</h3>

    <div>

        <br>
        <p>获取SysUser对象，属性值</p>
        <p th:text="${myuser.id}">id</p>
        <p th:text="${myuser.name}">name</p>
        <p th:text="${myuser.sex}">sex</p>
        <p th:text="${myuser.age}">age</p>


        <br>
        <p>使用*{}获取SysUser对象属性值</p>
        <div th:object="${myuser}">
            <p th:text="*{id}"></p>
            <p th:text="*{name}"></p>
            <p th:text="*{sex}"></p>
            <p th:text="*{age}"></p>
        </div>

    </div>


</body>
</html>